<div class="board">
	<app-list
		*ngFor="let list of lists | async; let i = index; let isLastList = last"
		[index]="i"
		[list]="list"
		[isFirstList]="i === 0"
		[isLastList]="isLastList"
		(moveUp)="moveListUpAtIndex($event)"
		(moveDown)="moveListDownAtIndex($event)"
		(update)="updateListAtIndex($event.index, $event.list)"
		(delete)="deleteListAtIndex($event)">
		(moveTaskLeft)="moveTaskLeftInList($event.index, $event.task)"
		(moveTaskRight)="moveTaskRightInList($event.index, $event.task)"
	</app-list>

	<div
		class="list"
		style="cursor: pointer;"
		(click)="onAddList()">
		<div style="align-items: center; display: flex; justify-content: center; height: 100%; min-height: 5rem;">
			<mat-icon style="transform: scale(5);">add</mat-icon>
		</div>
	</div>
</div>
