<div class="task">

	<div *ngIf="editState.isLocked() || editState.isDefault()">
		<div style="align-items: center; display: flex;">
			<button
				(click)="onMoveLeft()"
				[disabled]="isFirstList"
				matButton="tonal"
				style="margin-right: auto;">
				<mat-icon>arrow_back</mat-icon>
			</button>
			<strong style="margin: auto;">{{ task.title }}</strong>
			<button
				(click)="onMoveRight()"
				[disabled]="isLastList"
				matButton="tonal"
				style="margin-left: auto;">
				<mat-icon>arrow_forward</mat-icon>
			</button>
		</div>

		<p style="margin-bottom: 2rem;">
			{{ task.description }}
		</p>
		<div style="align-items: center; display: flex;">
			<div>
				<b>Created at:</b>
				<p style="margin: 0;">{{ formatDate(task.createdAt) }}</p>
			</div>
			<div style="margin-left: auto;">
				<b>Updated at:</b>
				<p style="margin: 0;">{{ formatDate(task.updatedAt) }}</p>
			</div>
		</div>
	</div>

	<div *ngIf="!editState.isLocked() && !editState.isDefault()">
		<form>
			<mat-form-field style="width: 100%;">
				<mat-label>Task Title</mat-label>
				<input
					matInput
					name="title"
					[(ngModel)]="editableTask.title">
			</mat-form-field>

			<mat-form-field style="width: 100%;">
				<mat-label>Description</mat-label>
				<textarea
					matInput
					name="description"
					[(ngModel)]="editableTask.description">
				</textarea>
			</mat-form-field>
		</form>
	</div>

	<div style="align-items: center; display: flex; margin-top: 1.5rem;">
		<button
			(click)="onEdit()"
			[disabled]="editState.isLocked()"
			matButton="tonal"
			*ngIf="editState.isDefault()">
			Edit
		</button>
		<button
			(click)="onSave()"
			[disabled]="editState.isSaving()"
			matButton="tonal"
			*ngIf="editState.isNew() || editState.isEditing() || editState.isSaving()">
			Save
		</button>
		<button
			(click)="onCancel()"
			[disabled]="editState.isSaving()"
			matButton="tonal"
			*ngIf="editState.isNew() || editState.isEditing() || editState.isSaving()">
			Cancel
		</button>
		<button
			(click)="onDelete()"
			[disabled]="editState.isEditing() || editState.isSaving()"
			matButton="tonal"
			*ngIf="!editState.isNew()"
			style="margin-left: auto;">
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</div>

